# Dependencies
node_modules
dist
dist-ssr
.env
.env.local
.env.development
.env.production
/uploads
/public

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
